<nav>
  <a routerLink="/">
    <img src="assets/04.png" class="icon" />
  </a>
  <a routerLink="/Movies">
    <img src="assets/03.png" class="icon" />
  </a>
  <a routerLink="/Series">
    <img src="assets/02.png" class="icon" />
  </a>
</nav>
<!-- <h1>My App</h1> -->
<section>
    <header>
        <h1>Media Watch List</h1>
        <p class="description">Keeping track of the media i want to watch</p>
    </header>
    <router-outlet></router-outlet>
    <!-- <mw-media-item-form></mw-media-item-form>
    <mw-media-item-list></mw-media-item-list> -->
</section>
<!-- <mw-media-item (delete)="onMediaItemDelete($event)"
    [mediaItem]="firstMediaItem"></mw-media-item> -->
    <!--
    Display three same graphical frame
    <mw-media-item></mw-media-item>
    <mw-media-item></mw-media-item> -->
